* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fff3e0, #e8eaf6);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    background: white;
    padding: 40px;
    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #6d4c41;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 13px;

    border: 1px solid #bbb;
    border-radius: 7px;

    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #6d4c41;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 13px;

    background: #6d4c41;
    color: white;

    border: none;
    border-radius: 7px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #4e342e;
}